version: '3.8'

services:
  weatheranalyzer:
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/api/weather/current || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3
    image: vadimbelyaev394875983474892/weatheranalyzer:latest
    ports:
      - "8080:8080"
    environment:
      POSTGRES_DB: senlatest_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ojsloktya
      POSTGRES_HOST: localhost
      POSTGRES_PORT: 5432
    depends_on:
      - postgres

  postgres:
    image: postgres:13.3
    environment:
      POSTGRES_DB: senlatest_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ojsloktya
    volumes:
      - database-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  database-data:
